name: riverpod_devtools_extension
description: DevTools extension for monitoring Riverpod state changes with stack trace information.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.0
  devtools_extensions: ^0.3.1
  devtools_app_shared: ^0.3.1
  vm_service: ^14.0.0
  riverpod_devtools_tracker:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true

